<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <form method="POST" action="/emp">
        {% csrf_token %}
        <div>
            <br>
            <p>
                <h3>Enter Details</h3>
            </p>
            <div>
                <p>Empleado Id:</p>{{form.ide}}
            </div>
             <div>
                <p>Empleado Nombre:</p>{{form.nombre}}
            </div>
             <div>
                <p>Empleado Email:</p>{{form.email}}
            </div>
             <div>
                <p>Empleado Contacto:</p>{{form.contacto}}
            </div>
            <div>
                <br>
                <button type="submit">SEND</button>
            </div>
        </div>
    </form>
</body>
</html>